body {
    margin: 0px;
}

nav ul, footer ul {
    font-family: 'Verdana';
    margin-left: 50px;
    list-style-type: none;
    font-weight: bold;
} 
nav ul li, footer ul li {
    display: inline-block;
    font-family: 'Verdana';
    list-style-type: none;
    margin-left: 20px;
}
a {
    text-decoration: none;
    font-family: 'Verdana';
/*     color: #999; */
}
a:hover {
    text-decoration: underline;
}
h2 {
    font-family: 'Verdana';
    font-weight: normal;
    text-align: left;
    margin-left: 50px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    font-family: 'Verdana';
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    font-family: 'Verdana';
}

ul.posts li {
    list-style: none;
    font-family: 'Verdana';
}

.lists {
    font-family: 'Verdana';
    font-size: 20px;
    text-align: justify;
    padding-left: 250px;
    padding-right: 250px;
}

p {
    font-family: 'Verdana';
    font-size: 20px;
    text-align: justify;
    padding-left: 200px;
    padding-right: 200px;
}

.aboutme {
    text-align: justify;
    font-family: 'Verdana';

}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
