body {
    margin: 0px;
}
nav ul, footer ul {
    font-family: 'Verdana';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    font-family: 'Verdana';
    margin-right: 20px;
}
a {
    text-decoration: none;
    font-family: 'Verdana';
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h2 {
    font-family: 'Verdana';
    font-weight: normal;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    font-family: 'Verdana';
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    font-family: 'Verdana';
}

ul.posts li {
    list-style: none;
    font-family: 'Verdana';
}

.center {
    display: block;
    font-family: 'Verdana';
    margin-left: 200px;
    margin-right: 200px;
}

.left {
    align: left;
}

p {
    font-family: 'Verdana';
    font-size: 15px;
    padding-left: 200px;
    padding-right: 200px;
}

.aboutme {
    margin-left: 200px;
    font-family: 'Verdana';
    margin-right: 200px;
}
