body {
  background-color: lightblue;
  text-align: center;
  padding: 20px;
}
h1 {
  color: blue;
}
p {
  color: red;
}
#cat {
   width: 400px;
   height: 260px;
}
#dog{
  width: 400px;
  height: 260px;
}

#parrot{
  width: 400px;
  height: 600px;
}
#par{
  color: grey;
}
#cpr{
  color: black;
}
