    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Hey there fellas! I hope you enjoy browsing this website!</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Post Categories</h6>
            <ul class="footer-links">
              <li><a href="#">News</a></li>
              <li><a href="#">School</a></li>
              <li><a href="#">TV Shows</a></li>
              <li><a href="#">PowerPoint</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="/">Home</a></li>
              <li><a href="/aboutme">About Me</a></li>
              <li><a href="/projects">Posts</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
         <a href="#">Danae Savvidi</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="linkedin" href="https://github.com/danaesav/"><i class="fa fa-github"></i></a></li>
              <li><a class="twitter" href="https://www.instagram.com/danae_savvidi/"><i class="fa fa-instagram"></i></a></li>
              <li><a class="dribbble" href="savvididanae@gmail.com"><i class="fa fa-envelope"></i></a></li>
              <li><a class="linkedin" href="https://www.linkedin.com/in/danae-savvidi-03b173163/"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="rss" href="http://danaesav.github.io/projects/atom.xml"><i class="fa fa-rss"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>
