<header class="main-header" style="background-color: #89b7e8; height: 462.8px;">
  <div class="wrapper">
    <img style="width: 50%x; height: 50%; align:center;" alt="Check out Supergirl and The Flaaashhhh" src="files/IMG_20181026_203649.PNG"/>
    <div class="trigger" style="text-align: center;">
      <nav>
        <ul style="font-size: 18px;">
          <li><a href="/" style="color:#000000;">Home</a></li>
          <li><a href="/aboutme" style="color:#000000;">About Me</a></li>
          <li><a href="/projects" style="color:#000000;">Projects</a></li>
          <li><a class="page-link" href="/cv/CV_danae.docx" style="color:#000000;">Resume</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
