<header class="main-header" style="background-color: white; height: 450px; padding-top: 25px;">
  <div class="wrapper">
    <img style="width: 805.8px; height: 355px; align:center;" alt="Hellooo" src="https://lh3.googleusercontent.com/PXsXBWYcmz1OBR-wEDrebf6N07fepYyOnBgDH8iAktIvLnK_YzntEhS-ZYVYDzlIbn8NBI779c0bcO1-4jQGL_Vyu61-0gYRAus9oN9YpeTQS_PE5ft9q88DdywQNstXys1kznPjjAeWg7KqfHOp2KFGOu1iqdVX1kL2wrnczEOL83ONa-Qx5NKxscB6mJUDc59jS0nSPGitjcA0e4ZuPib6KYOOdEchbmtm7IBPAL-xiXOVuAjW7lB8iAgeDXyis1KtalSSGnKKisdOXPiDH_NdlGTiP44PIg6vK2xye5mfTq4F0eQS5cYduQGxsUnvW6d6si669rPyXHd7RlKKJGlN52pTKwFukM71Ci-VN2n4DAmDP3horNlUrvj9tzIdAdvkJak9gpf87XVmFI6nRtvzRS7NtpKJvOZpEaPIRU28C8G3PYhIl3gnTHsXF3PbDvm5NF-kxqqsxzPYSBSdLVoOlaoHdRCk1gDDhe7xoZQZXHX2rBCq_7xRRHP6_r0vpI6ScxDsSswI_BhJ-btiu7pU3a0o2RfzwSbTXQvo5CHLp_yQvK1lP6R7EJIJ1kL_xqgu_85jSiWbXuGyvMIml4Me-NvdUejWWRpi1HjNE8h961U3kjmlOxAwf066IM7iIYFlba5FYZvFIbNGu-gv4p5WyK6YnapDE0IxQ1qEg29H4p4a4FN2N2QKDHjZM__Hy-fD5BB28lWzQE4bzMhmOYqo=w1392-h613-no"/>
    <div class="trigger" style="align: center;">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Danae's Website</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/aboutme">About Me</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a class="page-link" href="/cv/CV_danae.docx">Resume</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
