<header class="main-header" style="background-image: url ('https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png'); height: 450px;">
  <div class="wrapper">
    <div class="trigger">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Danae's Website</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/aboutme">About Me</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a class="page-link" href="/cv/CV_danae.docx">Resume</a></li>
          </ul>
        </div>
      </nav>
    </div>
  <img style="width: 568.89px; height: 340px; align:center;" alt="Hellooo" src="https://lh3.googleusercontent.com/6zbRD9hzWYBdXJTdeLooqi2r67qbUwbehlQ01K6Cfx9Ky0UQRaGAzMwn7tYi2j7dKttM4nP8AGBOQZZQyCiZbMei3exKZ6BwIlkS8AyVBYTA8xnH3uiEnZ4fUgowxDdVXzOzIMzZgBYmhnp5zXXyjgVDZRDvTnJGE-3woOBSGNle0TXL1yF5xwxdbzOws0Psw9iYXqRVsUEew26WLLeeN7MvxQFcjtJdCR2qpEau1P_KxFIWSmJni3HIqpQ8f5CM37EAgrZ5njbN0gDaC-AU126dO80EjuO5Mnvg-x73lDcrKmDYdBjZoPedBigFddWhHV8UxCOiDf3jXg-oiTDTtrgFy1aAz1BJVcFN5LubvVkTvkWPcnzGpPG73opmQZjGv3T_xaUfOrncicScNWzNgjU9aDg3z77rRkpT_T_FfaIPPpno8AI6-eQcpa476YkJZiMRA_wB8doj1m7WXukA67_3Rjv9ZCwsaCAPo6Yqm3cbLCrO6NE-b7r92vrKKJ8LosbGeEuGUFXLXADY47RCRqbYd3fIe4d5gvKkVMv41BnhLLe6QXAxr91Jh6AW9NZpXg8BIhW7fY0OyzQXK4BMkxyfrWDAqrFtAKwnuXBYXkP2TX7Ttt53Qs6sGGSnJC4Tb9wvpzi-mx4o1b8FNpvj6KrVIzYZXZTofnbw7YR63BtnpcmmfVElp3a2Hq5V9Tx77aApGDfRucJmqa3AVUjxIdsU=w894-h592-no"/>
  </div>
</header>

